#apps-download {
  .wrapper {
    background-color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto 10.8rem;
    box-shadow: 5px 0 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    border: 1px solid #777;
    border-bottom: none;
    border-top: none;
  }

  h2 {
    color: #529c7c;
    font-size: 36px;
  }

  .download {
    padding: 30px 70px 30px 70px;
  }
}

@media only screen and (max-width: 850px) {
  #apps-download {
    .wrapper {
      margin: auto;
    }
  }
}
