#contact-banner {
  .wrapper {
    margin: auto 10.8rem;
    box-shadow: 5px 0 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    border: 1px solid #fff;

    img {
      width: 100%;
      height: 200px;
    }
  }
}


#contact {
  .wrapper {
    display:flex;
    height: 100%;
    margin: auto 10.8rem;
    background: #fafafa;
    box-shadow: 5px 0 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    border: 1px solid #fff;
    border-top: none;
  }
}

#map {
    display: flex;
    width: 70%;
    height: 100%;
    border-right: 2px dashed #ccc;
  }

  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 65%;

    .contact-detail {
      display: flex;
      flex-direction: column;
      height: 40%;
      border-bottom: 2px dashed #ccc;

      .contact-list {
        margin: 0 6em;

        p {
          font-size: 18px;
        }
      }
    }

    .contact-form {
      margin: 3em 0 0 0;
    }

      .telephone,
        .comment {
          width: 80%;
          margin: 0 auto;

          label {
            display: block;
            padding: 0;
            margin: 0;
            font-family: 'Varela Round';
          }
      }

      .id {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 80%;
        margin: 0 auto;

        .name,
          .email {
            display: inline-block;
            width: 45%;

            label {
              display: block;
              padding: 0;
              margin: 0;
              font-family: 'Varela Round';
            }

            input[name="email"],
              input[name="name"] {
                width: 100%;
                height: 40px;
              }
          }
        }

        .telephone {
          height: 62px;

          input[name="telephone"] {
            width: 100%;
            height: 40px;
          }
        }

        .comment {
          textarea {
            width: 100%;
            resize: none;
          }

          button {
            margin: 0;
            float: right;
            background: #e74c3c;
            padding: 8px 77px;
            margin-top: 10px;
            border: 1px solid #e74c3c;
            box-shadow: 0 0 5px rgba(0, 0, 0, .4);
            font-family: 'Varela Round';
            transition: all .3;

            &:hover {
              background: none;
              border: 1px solid rgba(0, 0, 0, .7);
            }
          }
        }
  }
