#gallery {
  display:flex;

  .wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2.5em 0 2.5em 0;
    margin: auto 10.8rem;
    width: 100%;
    background: #fafafa;
    box-shadow: 5px 0 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    border: 1px solid #777;

      .gallery__item {
        box-sizing:border-box;
        width: 280px;
        height: 300px;
        padding: 1rem;
        margin:1rem;
        box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
        border: 2px dashed #ccc;

        .gallery__image-caption:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        .gallery__image {
          width:100%;
          height: 80%;
          display:block;
          border: 1px solid #787878;
          cursor: pointer;
        }

        .gallery__image-caption {
          margin-top:1rem;
          font-size:1.95rem;
        }
      }
    }
  }

  @media only screen and (max-width: 850px) {

    #gallery {
      .wrapper {
        margin: auto;

        .gallery__item {
          width: 55%;

          .gallery__image-caption {
            margin-top:0.5rem;
            font-size:2.25rem;
          }
        }
      }
    }
  }
