.menu {
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
		background: #ddd;
		display: none;
	}

li {
  flex: auto;
	text-align: left;
  cursor: pointer;
  color: rgba(0,0,0,0.7);
	border-bottom: 1px solid rgba(0,0,0,.2);
}

li:last-child {
	border: none;
}

a {
	text-decoration: none;
	color: #444;
	line-height: 3;
	display: block;
	padding-left: 1em;
	}

a:hover {
	background: rgba(0,0,0,.2);
}

#toggle-menu {
	background: #444;
	line-height: 2;
	color: #fff;
	padding-left: 1em;
	cursor:pointer;
}

// Mobile Menu
@media screen and (min-width: 768px){
  .wrapper {
    margin: 1rem 10rem 0 10rem;
  }

  .menu{
    display: flex;
  }
  li{
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: 0px;
  }
  a{
    padding-left: 0;
  }

  #toggle-menu{
    display: none;
  }
}
