#deals {
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-left: 10rem;
    margin-right: 10rem;

    h2 {
      font-size: 36px;
    }
  }
}

@media only screen and (max-width: 850px) {
  #deals {
    .wrapper {
      margin: auto;
    }
  }
}
