#menu-preview {
  .wrapper{
    display: flex;
    justify-content: space-between;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .download-list {
    display: flex;
    flex-direction: column;
    
    .download {
      padding: 20px;
    }
  }
}
