#menu-preview {
  .wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .download-list {
    display: flex;
    flex-direction: column;

    .download {
      padding: 20px;
    }
  }
}
