@import '_header';
@import '_home';
@import '_deals';
@import '_apps-download';

body {
  font-family: Helvetica;
  background: #fafafa;
  text-align: center;
}

h1 {
  margin-left: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0,0,0,.2);
}
