#main {
  margin: auto 10.8rem;
  border: 1px solid #fff;
  box-shadow: 5px 0 4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  #home {
    .wrapper {
      .image-carousel {
        width: 100%;
        height: 27vw;
        overflow: hidden;
        position: relative;
        margin: auto;

        .inner {
          display: flex;
          position: absolute;
          left: 0;
          transition: left 0.25s ease-out;

            img {
              // Set the dimensions of the images to the same size as the carousel itself
              width: 100vw;
              height: 44vw;
              margin: auto;
            }
          }

          .bubbles {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 5px;

            .bubble {
              margin: 2.5px;
              background-color: white;
              border-radius: 100000px;
              width: 20px;
              height: 20px;
              display: inline-block;
              opacity: 0.25;
              transition: opacity 0.1s linear;
              cursor: pointer;
              border: 4px dashed red;

              &:hover {
                opacity: 0.65;
              }
              &.active {
                opacity: 1;
              }
            }
          }

        .next::after,
        .prev::after {
          content: '>';
          position: absolute;
          top: 50%;
          right: 0;
          background-color: #222;
          color: #fff;
          font-size: 30px;
          width: 1.5em;
          height: 1.5em;
          font-weight: bold;
          font-family: sans-serif;
          transform: translateY(-50%);
          line-height: 1.5em;
          box-sizing: border-box;
          margin: 0 .6em;
          border: 1px solid #444;
          border-radius: 30em;
          cursor: pointer;
          opacity: 0.7;
          transition: opacity 0.1s linear;
        }

        .next:hover::after,
        .prev:hover::after {
          opacity: 1;
        }

        .prev::after {
          content: '<';
          left: 0;
        }
      }
    }
  }

  #deals {
    .wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      background: #fff;

      h2 {
        font-size: 36px;
      }
    }
  }

  #apps-download {
    .wrapper {
      background-color: #444;
      padding-top: 20px;
      padding-bottom: 20px;

      h2 {
        color: #529c7c;
        font-size: 36px;
      }

      .download {
        padding: 30px 70px 30px 70px;
      }
    }
  }

  #menu-preview {
    .wrapper{
      display: flex;
      justify-content: space-around;
      background: #fafafa;

      .menu-list {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;

        h1 {
          text-align: left;
          margin: 10px 0;
        }

        h2 {
          text-align: left;
          font-size: 24px;
        }
      }

      .download-list {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        .download {
          padding: 40px 120px 40px 120px;
          margin: 10px;
        }
      }
    }
  }
}

@media screen and (max-width:850px) {
  #main {
    margin: auto;
    #home {
      .wrapper {
        .image-carousel {
          .bubbles {
            .bubble {
              width: 18px;
              height: 18px;
            }
          }
          .next::after,
          .prev::after {
            color: #fff;
            font-size: 20px;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.3em;
            margin: 0 .6em;
          }
        }
      }
    }
    #deals {
      .wrapper {
        h2 {
          font-size: 26px;
        }
      }
    }
    #apps-download {
      .wrapper {
        h2 {
          font-size: 26px;
        }

        .download {
          padding: 20px 50px 20px 50px;
        }
      }
    }
    #menu-preview {
      .wrapper{
        display: flex;
        justify-content: center;

        .menu-list {
          display: flex;
          flex-direction: column;
          margin-left: 5rem;

          h1 {
            text-align: center;
            margin: 10px 0;
          }

          h2 {
            text-align: left;
            font-size: 16px;
          }
        }

        .download-list {
          display: flex;
          flex-direction: column;
          margin: 20px 0;

          .download {
            padding: 30px 100px 30px 100px;
            margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:680px) {
  #main {
    #menu-preview {
      .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .menu-list {
          display: flex;
          flex-direction: column;
          margin-left: 5rem;

          h1 {
            text-align: center;
            margin: 10px 0;
            padding: 0 20px 0 0;
          }

          h2 {
            text-align: left;
            font-size: 16px;
            padding: 0 20px 0 0;
          }
        }

        .download-list {
          display: flex;
          flex-direction: column;
          margin: 20px 0;

          .download {
            padding: 30px 100px 30px 100px;
            margin: 10px;
          }
        }
      }
    }
  }
}
